<div class="download-demo" id="download">
  <div class="wrapper">
    <div class="download-demo-content">
      <div class="download-demo-intro download-demo-intro_designers">
        <h3 class="dwonload-demo-intro-title">
          <div class="en">
            Designers
          </div>
          <div class="zh">
            我是設計師
          </div>
        </h3>
        <div class="download-demo-intro-text">
          <p>申請後，您的信箱會收到一份已幫您套好 API KEY 的範例檔案，
          直接讓喜愛設計的您，打開熟悉的網頁編輯器進行設計、編寫華麗的 CSS。
          別忘了做完後要回來<a href="/submit-your-works">投稿</a>，讓大家知道如何前往觀賞您的大作！</p>
          
        </div>
      </div>
      <div class="download-demo-intro download-demo-intro_developers">
        <h3 class="dwonload-demo-intro-title">
          <div class="en">
            Developers
          </div>
          <div class="zh">
            我是開發者
          </div>
        </h3>
        <div class="download-demo-intro-text">
          <p>申請後，您的信箱會有 API KEY 與使用範例，
          以及網站上的 <a href="/docs">API 說明文件</a>，工程師可透過巧思與呈現方式任意組合，做出與眾不同的作品！
          別忘了做完後要回來<a href="/submit-your-works">投稿</a>，讓大家知道如何前往觀賞您的大作！或是去哪裡下載您的程式！</p>
          
        </div>
      </div>
    </div>
    <form class="download-form">
      <h2 class="download-form-title">
        申請範例與 API
      </h2>
      <div class="download-form-subtitle">
        Get Your API key & Example
      </div>
      <div class="inputs">
        <div class="download-form-item">
          <input class="download-form-item-control" id="name" placeholder="暱稱" type="text">
        </div>
        <div class="download-form-item">
          <input class="download-form-item-control" id="email" placeholder="電子郵件" type="text">
        </div>
        <div class="download-form-action">
          <button class="submit" type="submit">申請</button>
        </div>
        <div class="sent">
          <div class="sent-title">
            邀請函已寄出
          </div>
          <div class="snet-text">
            請收信
          </div>
        </div>
      </div>
    </form>
  </div>
</div>