<div class="footer">
  <div class="footer-top">
    <div class="wrapper">
      <ul class="big-links">
        <li>
          <a class="kp-taipei" href="http://kptaipei.tw/" target="_blank">柯文哲本尊官網</a>
        </li>
        <li>
          <a class="rgba" href="http://rgba.tw" target="_blank">RGBA</a>
        </li>
        <li>
          <a class="kp-ton" href="http://kptaipei.tw/kp-ton/" target="_blank">台北調你來定調</a>
        </li>
      </ul>
      <ul class="small-links">
        <li>
          <a href="http://kptaipei.tw/" target="_blank">柯P新政</a>
        </li>
        <li>
          <a href="http://kptaipei.tw/?page_id=2723" target="_blank">真・柯文哲</a>
        </li>
        <li>
          <a href="http://kptaipei.tw/kp-ton/" target="_blank">臺北調，你來定調</a>
        </li>
        <li>
          <a href="https://donate.kptaipei.tw" target="_blank">捐款支持</a>
        </li>
        <li>
          <a href="http://kptaipei.tw/?page_id=2836" target="_blank">新聞稿</a>
        </li>
        <li>
          <a href="https://www.facebook.com/wildkp" target="_blank">野生柯P記錄團</a>
        </li>
      </ul>
      <ul class="sns-links">
        <li>
          <a href="https://www.facebook.com/DoctorKoWJ" target="_blank"><i class="ss ss-facebook"></i>facebook 粉絲專頁</a>
        </li>
        <li>
          <a href="https://www.flickr.com/photos/110839995@N06/" target="_blank"><i class="ss ss-flickr"></i>flickr 相簿</a>
        </li>
        <li>
          <a href="http://kptaipei.tumblr.com" target="_blank"><i class="ss ss-tumblr"></i>tumblr 柯P新政</a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCllMvuz1DIPIoqNnur7_Pig" target="_blank"><i class="ss ss-youtube"></i>youtube 影音</a>
        </li>
        <li>
          <a href="mailto:unlimited@kptaipei.tw"><i class="ss ss-mail"></i>Email 客服</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="wrapper">
      <div class="copyright">
        &copy; 柯文哲野生官網&nbsp;<br class="pad-hide">unlimited 官方活動網站 2014
      </div>
      <div class="contact-us">
        聯絡我們&nbsp;<a href="mailto:unlimited@kptaipei.tw">unlimited@kptaipei.tw</a>
      </div>
    </div>
  </div>
</div>