<div class="header">
  <div class="wrapper">
    <div class="logo">
      <a href="/">柯P野生官網</a>
    </div>
    <ul class="main-nav">
      <li>
        <a href="/">首頁</a>
      </li>
      <li>
        <a href="/docs">API<span class="mobile-hide"> 說明</span></a>
      </li>
      <li>
        <a href="/submit-your-works"><span class="mobile-hide">作品</span>投稿</a>
      </li>
      <li>
        <a href="/showroom"><span class="mobile-hide">野生</span>作品</a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Funlimited.kptaipei.tw" target="_blank"><span class="mobile-hide">FB </span>分享</a>
      </li>
    </ul>
  </div>
</div>
