<div class="hero" id="hero">
  <div class="hero-containter">
    <h1>
      <span class="hero-logo"><a class="hero-logo-inner" href="http://kptaipei.tw" target="_blank">柯文哲</a></span><span class="hero-bigtext"><span class="hero-bigtext-inner">野生官網</span><span class="hero-unlimited">Unlimited</span></span>
    </h1>
    <ul class="hero-nav">
      <li>
        <a class="go-anchor" href="#intro">活動說明</a>
      </li>
      <li>
        <a href="/docs">API 說明</a>
      </li>
      <li>
        <a href="/submit-your-works">作品投稿</a>
      </li>
      <li>
        <a href="/showroom">野生作品</a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Funlimited.evenwu.com" target="_blank">FB 分享</a>
      </li>
    </ul>
  </div>
</div>
