<div class="intro" id="intro">
  <div class="wrapper">
    <div class="intro-text">
      <h2 id="pspan-classmobile-hidespanbr-classpad-hide">野生柯P官網<span class="mobile-hide">，</span><br class="pad-hide" />你來打造</h2>
      
      <p>以前有人說⋯⋯政府的網站很糟糕，設計得不夠好。所謂「官方」作的，不一定是最好的、也不一定是市民想要的，
      甚至，對於什麼樣的網站才是「好」的，每一個人也都有不同的想像。
      因此，我們將市長候選人的網站開放，我們不比稿、不找明星設計師，
      我們想向市民徵求不同的想像、不同的創意，自己來製作心目中理想的「官方網站」、無限個不一樣的柯文哲官方網站。</p>
      
      <p>這不是官網設計比賽，柯文哲會持續<a href="/docs">提供所有官方新聞、影音、照片的 API</a>，讓設計師、工程師、自造者任意發揮。
      做網站、做 App、甚至科技藝術的應用！
      想做 RWD 又方便盲人使用的網站？
      想做野生柯 P 的螢幕保護程式？
      想用四軸飛行器搭配 TTS 做新聞宣傳機？沒問題！
      所有的設計都是官方認可的官方網站，絕無高下之分！柯文哲的形象就由你來決定。</p>
      
      <h3 id="span-classmobile-hidespanbr-classpad-hidespan-classmobile-hidespanbr-classpad-hidespan-classmobile-hidespan">正面價值<span class="mobile-hide">，</span><br class="pad-hide" />開放透明<span class="mobile-hide">，</span><br class="pad-hide" />由你決定<span class="mobile-hide">！</span></h3>
      
    </div>
    <div class="kp-image">
      <img class="kp" height="562" src="/images/kp.png" width="500" />
    </div>
  </div>
</div>