<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, minimal-ui" name="viewport">

<title>{% if page.title %}{{site.site-name}} - {{page.title}}{% else %}{{site.site-title}}{% endif %}</title>
<meta description="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.site-description}}{% endif %}">

<link href="http://unlimited.kptaipei.tw/favicon.ico?v=0821" rel="shortcut icon">
<link href="http://unlimited.kptaipei.tw/images/iOS.png" rel="apple-touch-icon-precomposed">

<meta content="#52BBBB" name="msapplication-TileColor">
<meta content="http://unlimited.kptaipei.tw/images/IE10metro.png" name="msapplication-TileImage">

<link href="/stylesheets/all.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/vender/ss-social-regular/webfonts/ss-social-regular.css" media="screen" rel="stylesheet" type="text/css" /><!--[if lte IE 9]><script src="/vender/placeholders.js" type="text/javascript"></script><![endif]--><!--[if lt IE 9]><link href="/stylesheets/ie8.css" media="screen" rel="stylesheet" type="text/css" /><script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<script src="/vender/selectivizr-min.js" type="text/javascript"></script><![endif]-->
