<meta content="{% if page.title %}{{site.site-name}} - {{page.title}}{% else %}{{site.site-title}}{% endif %}" property="og:title">
<meta content="{{site.site-name}}" property="og:site_name">
<meta content="http://demo-unlimited.unfoldgroup.com{% if page.title %}{{page.url}}{% endif %}" property="og:url">
<meta content="{% if page.image %}{{page.image}}{% else %}{{site.og-image}}{% endif %}" property="og:image">
<meta content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.site-description}}{% endif %}" property="og:description">
<meta content="{{site.og-type}}" property="og:type">
<meta content="{{site.fb-admins}}" property="fb:admins">
